body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;

}

.name{
    position: absolute;
    left: 75px;
    color: orange;
    
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    color: orange;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
    }
}



/* Banner styles */
.banner {
    background-image: url(https://wallpaperbat.com/img/840294-wallpaper-of-study.jpg);
    background-size: cover;
    text-align: center;
    padding: 10rem 0;
    color: white;
    height: 300px;
}

.banner h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.banner .btn {
    background-color: #ff9900;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    /* cursor: pointer; */
    transition: background-color 0.3s;
}

.banner .btn:hover {
    background-color: rgba(100, 61, 184, 0.553)
}

.banner h2,
.banner p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.banner.active h2,
.banner.active p {
    opacity: 1;
    transform: translateY(0);
}

